# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs et fichiers temporaires
/tmp/
*.log
*.swp
*.swo
.DS_Store

# Fichiers de configuration sensibles
.env
proxy/.env

# Fichiers Docker
.docker/

# Environnements virtuels
venv/
ENV/

# IDEs et éditeurs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.pydevproject 